<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 text-center">
      <div class="py-3 bg-light">
        <%= image_tag current_customer.get_profile_image(200,200) %><br>
        <h5 class="my-2"><%= current_customer.nickname %></h5>
        <%= link_to "ライブレポート", reports_path(customer_id: current_customer.id) %>(<%= current_customer.reports.count %>件)<br>
        <%= link_to "編集", edit_customer_path(current_customer), class: "default-btn p-1 bg-success my-1" %>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row mt-3">
        <div class="col-12">
          <h4 class="sub-title">まだ見ぬアーティストを発掘！</h4>
          <div class="text-center mt-4">
            <% if @artists.present? %>
              <% @artists.first(1).each do |artist| %>
                <%= link_to "見てみる!", artist_path(artist), class: "watch-btn mb-2" %>
                <p>※お気に入りをしていないアーティストがランダムで表示されます</p>
              <% end %>
            <% else %>
              アーティストの追加をお待ちください！
            <% end %>
          </div>
        </div>
      </div>  
      <div class="row mt-3">
        <div class="col-12">
          <h4 class="sub-title">ブックマークしたライブ</h4>
          <div class="col-12 table-responsive">
            <% if current_customer.bookmark_lives.present? %>
              <table class="table shadow p-3 bg-body rounded">
                <tbody>
                  <% current_customer.bookmark_lives.each do |bookmark_live| %>
                    <tr>
                      <td style="width: 10%" class="text-center"><%= image_tag bookmark_live.live.get_live_image(50,50) %></td>
                      <td style="width: 55%" class="align-middle"><%= link_to bookmark_live.live.name, live_path(bookmark_live.live) %></td>
                      <td style="width: 15%" class="align-middle"><%= bookmark_live.live.live_date %></td>
                      <td style="width: 25%" class="align-middle">
                        START: 
                        <% if bookmark_live.live.start_time.present? %>
                          <%= bookmark_live.live.start_time.strftime( "%H:%M" ) %>
                        <% else %>
                          -
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p class="my-5 text-center">ブックマークしたライブがありません</br>気になるライブをブックマークしてみましょう！</p>
            <% end %>
          </div>  
        </div>
      </div>
      <div class="row my-5 favorite-list">
        <div class="col-7">
          <h4 class="sub-title">お気に入りのアーティスト</h4>
          <% if current_customer.favorite_artists.present? %>
            <table class="table-responsive col-lg-10">
              <tbody>
                <% current_customer.favorite_artists.each do |favorite_artist| %>
                <tr class="d-flex align-items-center">
                  <td style="width: 20%" class="text-center"><%= image_tag favorite_artist.artist.get_artist_image(50,50) %></td>
                  <td style="width: 80%" class="text-center"><%= link_to favorite_artist.artist.name, artist_path(favorite_artist.artist) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="my-5 text-center">お気に入りのアーティストがいません</br>好きなアーティストをお気に入りにしてみましょう！</p>
          <% end %>
        </div>
        <div class="col-5 favorite-list">
          <h4 class="sub-title">お気に入りのジャンル</h4>
          <% if current_customer.favorite_genres.present? %>
            <table>
              <tbody>
                <% current_customer.favorite_genres.each do |favorite_genre| %>
                <tr class="d-flex align-items-center">
                  <td style="width: 100%" class="m-1">
                    <%= link_to favorite_genre.genre.name, genre_favorite_genres_path(favorite_genre.genre), method: :delete, class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "削除しますか？"} %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="my-5 text-center">お気に入りのジャンルがありません</br>好きなジャンルをお気に入りにしてみましょう！</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>