<div class="container">
  <div class="row mt-3">
    <div class="col-3 text-center">
      <%= image_tag current_customer.get_profile_image(100,100) %><br>
      <%= current_customer.nickname %><br>
      ライブレポート<%= current_customer.reports.count %>件<br>
      <%= link_to "会員情報を編集", edit_customer_path(current_customer), class: "btn btn-success" %>
    </div>
    <div class="col-9">
      <div class="row">
        <h4>お気に入りのアーティストの最新ライブ</h4>
      </div>
      <div class="row mt-3">
        <h4>まだ見ぬアーティストを発掘！</h4>
      </div>
      <div class="row mt-3">
        <h4>ブックマークしたライブ</h4>
      </div>
      <div class="row mt-3">
        <div class="col-7">
          <h4>お気に入りのアーティスト</h4>
          <table>
            <tbody>
              <% current_customer.favorite_artists.each do |favorite_artist| %>
              <tr>
                <td style="width: 20%"><%= image_tag favorite_artist.artist.get_artist_image(50,50) %></td>
                <td style="width: 60%"><%= link_to favorite_artist.artist.name, artist_path(favorite_artist.artist) %></td>
                <td style="width: 20%">
                  <% if favorite_artist.artist.favorited_by?(current_customer) %>
                    <%= link_to artist_favorite_artists_path(favorite_artist.artist), method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                    <% end %>
                  <% else %>
                    <%= link_to artist_favorite_artists_path(favorite_artist.artist), method: :post do %>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-5">
          <h4>お気に入りのジャンル</h4>
          <table>
            <tbody>
              <%# current_customer.favorite_genres.each do |favorite_genre| %>
              <tr>
                <td style="width: 60%"><%#= favorite_genre.genre.name %></td>
                <td style="width: 20%">
                  <%# if favorite_artist.artist.favorited_by?(current_customer) %>
                    <%#= link_to artist_favorite_artists_path(favorite_artist.artist), method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%# end %>
                  <%# else %>
                    <%#= link_to artist_favorite_artists_path(favorite_artist.artist), method: :post do %>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    <%# end %>
                  <%# end %>
                </td>
              </tr>
              <%# end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>