<%= render "public/shared/error_messages", resource: live %>
<div class="row mt-1">
  <div class="col-lg-6 mt-2">
    <%= f.file_field :live_image, class: "push", onchange: "loadImage(this);" %>
    <div id="post_images" style="display: none;">
      <p id="preview"></p>
    </div>
    <!--画像選択で非表示-->
    <% if live.live_image.present? && admin_signed_in? %>
      <div id="delete_image">
        <%= image_tag live.get_live_image(500,500), class: "img-fluid" %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-6 mt-1">
    <table cellpadding="10" class="w-100">
      <tbody>
        <tr>
          <td><div class="mini-title">LIVE</div><span class="text-danger">*</span></td>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <td><div class="mini-title">DATE</div><span class="text-danger">*</span></td>
          <td><%= f.date_field :live_date %></td>
        </tr>
        <tr>
          <td class="d-flex align-items-start"><div class="mini-title">INFO</div><span class="text-danger">*</span></td>
          <td><%= f.text_area :introduction, rows: "10", class: "form-control" %></td>
        </tr>
        <tr>
          <td><div class="mini-title">OPEN</div></td>
          <td><%= f.time_field :open_time %></td>
        </tr>
        <tr>
          <td><div class="mini-title">START</div></td>
          <td><%= f.time_field :start_time %></td>
        </tr>
        <tr>
          <td><div class="mini-title">ADV</div></td>
          <td><%= f.text_field :advance_price, class: "form-control" %></td>
        </tr>
        <tr>
          <td><div class="mini-title">DOOR</div></td>
          <td><%= f.text_field :today_price, class: "form-control" %></td>
        </tr>
        <% if admin_signed_in? %>
          <tr>
            <td><div class="mini-title">STATUS</div></td>
            <td>
              <%= f.collection_radio_buttons :status, Live.statuses_i18n, :first , :last do |b| %>
                <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center my-1">
      <%= f.submit class: "btn default-btn bg-success p-2" %>
    </div>
  </div>
</div>
<%= render "public/artists/loadimage" %>