<div class="container">
  <div class="row mt-5">
    <h3 class="main-title"><%= @live.name %></h3>
  </div>
  <%= form_with model: @live, url: admin_live_path(@live), method: :patch do |f| %>
    <div class="row mt-1">
      <div class="col-6">
        <%= image_tag @live.get_live_image(500, 500) %>
        <%= f.file_field :live_image %>
      </div>
      <div class="col-6">
        <table cellpadding="10" class="mx-auto">
          <tbody>
            <tr>
              <td>ライブ名</td>
              <td><%= f.text_field :name, size: "41" %></td>
            </tr>
            <tr>
              <td>日程</td>
              <td><%= f.date_field :live_date %></td>
            </tr>
            <tr>
              <td class="d-flex align-items-start">紹介文</td>
              <td><%= f.text_area :introduction, cols: "40", rows: "10" %></td>
            </tr>
            <tr>
              <td>開場時間</td>
              <td><%= f.time_field :open_time %></td>
            </tr>
            <tr>
              <td>開演時間</td>
              <td><%= f.time_field :start_time %></td>
            </tr>
            <tr>
              <td>前売価格</td>
              <td><%= f.text_field :advance_price, size: "41" %></td>
            </tr>
            <tr>
              <td>当日価格</td>
              <td><%= f.text_field :today_price, size: "41" %></td>
            </tr>
            <tr>
              <td>公開ステータス</td>
              <td>
                <%= f.collection_radio_buttons :status, Live.statuses_i18n, :first , :last do |b| %>
                  <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "変更を更新", class: "btn default-btn bg-success p-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>