<div class="container">
  <div class="row mt-5">
    <div class="col-11 col-md-8 col-lg-6 mx-auto">
      <div class="card shadow">
        <div class="card-body text-secondary">
          <div class="card-title border-bottom mb-3">管理者ログイン</div>
          <%= form_with model: @admin, url: new_admin_session_path do |f| %>
            <div class="field form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
            </div>
            <div class="field form-group">
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="actions form-group text-right">
              <%= f.submit "ログイン", class: "btn btn-block btn-template-reverse" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>