<div class="my-1">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.select :model, options_for_select({ "アーティスト" => "artist", "ライブ" => "live", "ライブハウス" => "live_house" }) %>
    <%= f.hidden_field :method, value: ({ "部分一致" => "partial" })  %>
    <%= f.submit '検索' %>
  <% end %>
</div>