<% if @model == 'artist' %>
	<h3>Artist search for "<%= @content %>"</h3>
  <%= render 'public/artists/index', artists: @records %>
<% elsif @model == 'live' %>
	<h3>Lives search for "<%= @content %>"</h3>
  <%= render 'public/lives/index', lives: @records %>
<% elsif @model == 'live_house' %>
	<h3>LiveHouse search for "<%= @content %>"</h3>
  <%= render 'public/live_houses/index', live_houses: @records %>
<% end %>