<% if @model == 'artist' %>
	<h3 class="text-center mt-2">"<%= @content %>"での検索結果</h3>
  <%= render 'public/artists/index', artists: @records %>
<% elsif @model == 'live' %>
	<h3 class="text-center mt-2">"<%= @content %>"での検索結果</h3>
  <%= render 'public/lives/index', lives: @records %>
<% elsif @model == 'live_house' %>
	<h3 class="text-center mt-2">"<%= @content %>"での検索結果</h3>
  <%= render 'public/live_houses/index', live_houses: @records %>
<% end %>