<div class="row mt-5">
  <h2 class="main-title"><%= live_house.name %></h2>
</div>
<div class="row mt-1">
  <div class="col-lg-6 text-center"><%= image_tag live_house.get_house_image(500,500), class: "img-fluid" %></div>
  <div class="col-lg-6">
    <div class="map">
      <div id="map" class="mx-auto mt-1">
      </div>
    </div>
    <div type="text/javascript">
      <script>
        function initMap(){
        // The location of Uluru
          const uluru = {lat: <%= live_house.latitude %>, lng: <%= live_house.longitude %> };
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
            position: uluru,
            map: map,
          });
        }            
        window.initMap = initMap;        
      </script>
      <script async
        src="https://maps.googleapis.com/maps/api/js?v=3.46
            &key=<%= ENV['GOOGLE_API'] %>&callback=initMap">
      </script>
    </div>  
    <table cellpadding="10" class="mx-auto mt-1">
      <tbody>
        <tr>
          <td class="d-flex align-items-start"><div class="mini-title">INFO</div></td>
          <td class="text-break"><%= live_house.introduction %></td>
        </tr>
        <tr>
          <td><div class="mini-title">ADDRESS</div></td>
          <td class="text-break">〒<%= live_house.postal_code.to_s.insert(3, "-") %></br><%= live_house.address %></td>
        </tr>
        <tr>
          <td><div class="mini-title">SITE</div></td>
          <td class="text-break"><%= link_to live_house.official_url, live_house.official_url %></td>
        </tr>
        <% if admin_signed_in? %>
          <tr>
            <td><div class="mini-title">STATUS</div></td>
            <td>
              <% if live_house.status == "release" %>
                <p class="text-success my-auto">公開</p>
              <% elsif live_house.status == "not_release" %>
                <p class="text-secondary my-auto">非公開</p>
              <% else %>
                <p class="text-danger my-auto">閉店</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if admin_signed_in? %>
      <div class="text-center my-1">
        <%= link_to "編集する", edit_admin_live_house_path(live_house), class: "btn default-btn bg-success p-2" %>
        <%= link_to "削除", admin_live_house_path(live_house), method: :delete, class: "btn default-btn bg-danger p-2", data: {confirm: "削除しますか？"} %>
      </div>
    <% end %>
  </div>
</div>
