<div class="container">
  <div class="row mt-3 live-list">
    <div class="col-10">
      <h3 class="sub-title">今日のライブ(<%= @today_lives.count %>件)</h3>
      <% if @today_lives.present? %>
        <table>
          <tbody>
            <% @today_lives.each do |live| %>
              <tr class="d-flex align-items-center">
                <td style="width: 10%" class="text-center"><%= image_tag live.get_live_image(50,50) %></td>
                <td style="width: 20%"><%= link_to live.name, live_path(live) %></td>
                <td style="width: 25%">
                  <% live.performing_artists.first(3).each do |performing_artist| %>
                    <%= performing_artist.artist.name %>
                  <% end %>
                </td>
                <td style="width: 25%">
                  <% live.live_schedules.each do |live_schedule| %>
                    <%= live_schedule.live_house.name %>
                  <% end %>
                </td>
                <td style="width: 15%">START: <%= live.start_time.strftime( "%H:%M" ) %></td>
                <td style="width: 5%">
                  <% if customer_signed_in? %>
                    <div id="bookmark_lives_<%= live.id %>">
                      <%= render "public/bookmark_lives/btn", live: live %>
                    </div>
                  <% end %>  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="my-5 text-center">今日のライブはありません</div>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <h4 class="sub-title">とりあえずライブに行きたい人へ</h4>
      <div class="text-center mt-4">
        <% if @after_lives.present? %>
          <% @after_lives.shuffle.first(1).each do |live| %>
            <%= link_to "今日行きたい!", live_path(live), class: "watch-btn mb-2" %>
            <p>※今日開催されるライブがランダムで表示されます</p>
          <% end %>
        <% else %>
          予定されているライブはありません<br>
          <% if customer_signed_in? %>
            ライブ日程の追加がある場合は、<%= link_to "ここ", new_live_path %>をクリックしてください
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <h4 class="sub-title">新着ライブ</h4>
      <table class="table table-borderless shadow p-3 bg-body rounded">
        <tbody>
          <% @new_lives.first(3).each do |live| %>
            <tr>
              <td style="width: 10%" class="align-middle"><%= image_tag live.get_live_image(50,50) %></td>
              <td style="width: 20%" class="align-middle"><%= link_to live.name, live_path(live) %></td>
              <td style="width: 25%" class="align-middle">
                <% live.performing_artists.each do |performing_artist| %>
                  <%= performing_artist.artist.name %>
                <% end %>
              </td>
              <td style="width: 25%" class="align-middle">
                <% live.live_schedules.each do |live_schedule| %>
                  <%= live_schedule.live_house.name %>
                <% end %>
              </td>
              <td style="width: 15%" class="align-middle">START: <%= live.start_time.strftime( "%H:%M" ) %></td>
              <td style="width: 5%" class="align-middle">
                <% if customer_signed_in? %>
                  <div id="bookmark_lives_<%= live.id %>">
                    <%= render "public/bookmark_lives/btn", live: live %>
                  </div>
                <% end %>  
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-right">
      <%= link_to "全てのライブをみる", lives_path %>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-10">
      <h4 class="sub-title">新着ライブレポート</h4>
      <table class="table table-borderless shadow p-3 bg-body rounded">
        <tbody>
          <% @new_reports.first(3).each do |report| %>
            <tr>
              <td style="width: 10%" class="align-middle"><%= image_tag report.customer.get_profile_image(50,50) %></td>
              <td style="width: 10%" class="align-middle"><%= report.customer.nickname %></td>
              <td style="width: 20%" class="align-middle"><%= link_to report.live.name, report_path(report) %></td>
              <td style="width: 50%" class="align-middle text-left"><%= report.comment.truncate(25, separator: '.') %></td>
              <td style="width: 20%" class="align-middle"><%= report.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-right">
        <%= link_to "全てのレポートをみる", reports_path %>
      </div>
    </div>
  </div>
</div>