<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-3">
    <h3><%= @customer.name %>さんの会員詳細</h3>
  </div>
  <div class="row mt-5">
    <div class="col-6 text-center"><%= image_tag @customer.get_profile_image(500,500) %></div>
    <div class="col-6 my-auto">
      <table cellpadding="10" class="mx-auto">
        <tbody>
          <tr>
            <td>名前</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @customer.nickname %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
                <div class="text-success font-weight-bold">有効</div>
              <% else %>
                <div class="text-muted font-weight-bold">退会</div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center my-3">
        <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn default-btn bg-success p-2" %>
      </div>
      <div class="text-center">
        <%= link_to "コメント一覧", admin_comments_path, class: "btn default-btn btn-primary p-2 mr-3" %>
        <%= link_to "レポート一覧", "#", class: "btn default-btn bg-primary p-2" %>
      </div>
    </div>
  </div>
</div>