<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-5">
    <h3 class="main-title"><%= @artist.name %></h3>
  </div>
  <%= form_with model: @artist, url: admin_artist_path, method: :patch do |f| %>
    <div class="row">
      <div class="col-lg-6 text-center">
        <%= image_tag @artist.get_artist_image(500, 500), class: "img-fluid" %>
        <%= f.file_field :artist_image %>
      </div>
      <div class="col-lg-6 my-1">
        <table cellpadding="10" class="w-100">
          <tbody>
            <tr>
              <td class="mini-title">ARTIST</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td class="mini-title">INFO</td>
              <td><%= f.text_area :introduction, rows: "10", class: "form-control" %></td>
            </tr>
            <tr>
              <td class="mini-title">SITE</td>
              <td><%= f.text_field :official_url, class: "form-control" %></td>
            </tr>
            <tr>
              <td class="mini-title">STATUS</td>
              <td>
                <%= f.collection_radio_buttons :status, Artist.statuses_i18n, :first , :last do |b| %>
                  <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center my-1">
          <%= f.submit "変更を更新", class: "btn default-btn bg-success p-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>