<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto d-flex justify-content-between">
      <h2><%= @live.name %></h2>
      <div>
        <!--ログインしている場合のみ表示-->
        <% if customer_signed_in? %>
          <%= link_to "レポートを作成する", new_report_path, class: "btn btn-primary"%>
          <% if @live.favorited_by?(current_customer) %>
            ブックマーク外す
            <%= link_to live_bookmark_lives_path(@live), method: :delete do %>
              <i class="fas fa-solid fa-bookmark"></i>
            <% end %>
          <% else %>
            ブックマークの登録
            <%= link_to live_bookmark_lives_path(@live), method: :post do %>
              <i class="fas fa-solid fa-bookmark" style="color: red;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-6 text-center"><%= image_tag @live.get_live_image(500,500) %></div>
    <div class="col-6">
      <table cellpadding="10">
        <tbody>
          <tr>
            <td>DATE</td>
            <td><%= @live.live_date %></td>
          </tr>
          <tr>
            <td>INFO</td>
            <td><%= @live.introduction %></td>
          </tr>
          <tr>
            <td>OPEN</td>
            <td><%= @live.open_time.strftime( "%H:%M" ) %></td>
          </tr>
          <tr>
            <td>START</td>
            <td><%= @live.start_time.strftime( "%H:%M" ) %></td>
          </tr>
          <tr>
            <td>ADV.</td> 
            <td>¥<%= @live.advance_price %></td>
          </tr>
          <tr>
            <td>DOOR.</td> 
            <td>¥<%= @live.today_price %></td>
          </tr>
          <tr>
            <td>ACT</td>
            <td>
              <% @live.performing_artists.each do |performing_artist| %>
                <%= link_to performing_artist.artist.name, artist_path(performing_artist.artist), class: "btn btn-warning" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>