<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h3 class="sub-title">ジャンル編集</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
        <table class="mx-auto">
          <tbody>
            <tr>
              <td>ジャンル名</td>
              <td><%= f.text_field :name %></td>
              <td><%= f.submit "登録", class: "btn default-btn bg-success p-1 w-auto" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= link_to "削除", admin_genre_path(@genre), method: :delete, class: "btn default-btn bg-danger p-2 mt-2" %>
    </div>
  </div>
</div>