<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h5 class="sub-title">アーティスト追加依頼</h5>
      <div class="col-12 table-responsive">
        <% if @artists.exists? %>
          <table class="table table-borderless shadow p-3 bg-body rounded">
            <tbody>
              <% @artists.each do |artist| %>
                <tr>
                  <td style="width: 15%" class="align-middle"><%= image_tag artist.get_artist_image(50,50) %></td>
                  <td style="width: 70%" class="align-middle"><%= link_to artist.name, admin_artist_path(artist) %></td>
                  <td style="width: 15%" class="align-middle"><%= artist.status_i18n %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
        <div class="my-3 text-center">
          依頼はありません
        </div>  
        <% end %>
      </div>  
    </div>
  </div>
  <div class="row">
    <dev class="col-12 my-3">
      <h5 class="sub-title">ライブ追加依頼</h5>
      <div class="col-12 table-responsive">
        <% if @lives.exists? %>
          <table class="table table-borderless shadow p-3 bg-body rounded">
            <tbody>
              <% @lives.each do |live| %>
                <tr>
                  <td style="width: 15%" class="align-middle"><%= image_tag live.get_live_image(50,50) %></td>
                  <td style="width: 40%" class="align-middle"><%= link_to live.name, admin_live_path(live) %></td>
                  <td style="width: 15%" class="align-middle"><%= live.live_date %></td>
                  <td style="width: 15%" class="align-middle">
                    <% if live.start_time == true %>
                      start: <%= live.start_time.strftime( "%H:%M" ) %>
                    <% else %>
                      start: -
                    <% end %>
                  </td>
                  <td style="width: 15%" class="align-middle"><%= live.status_i18n %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="my-3 text-center">
            依頼はありません
          </div>
        <% end %>
      </div>  
    </dev>
  </div>
</div>