<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row mt-5">
        <div class="col-12 mt-3">
          <h3 class="sub-title">あなたのお気に入りジャンル</h3><br>
          <% if customer_signed_in? %>
            <% current_customer.favorite_genres.each do |favorite_genre| %>
              <%= link_to favorite_genre.genre.name, genre_favorite_genres_path(favorite_genre.genre), method: :delete, class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "削除しますか？"} %>
            <% end %>
          <% else %>
            <div class="text-center my-5">
              会員登録することで、ご利用になれます
            </div>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
  <div class="row my-5">
    <div class="col-6">
      <h4 class="sub-title">ジャンル一覧</h4><br>
      <% @genres.each do |genre| %>
        <% if customer_signed_in? %>
          <% if genre.favorited_by?(current_customer) %>
            <%= link_to genre.name, "#", class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "追加済みです！"} %>
          <% else %>
            <%= link_to genre.name, genre_favorite_genres_path(genre), method: :post, class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "追加しますか？"} %>
          <% end %>
        <% else %>
          <%= link_to genre.name, "#", class: "default-btn bg-warning p-2 w-auto text-dark" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 artist-list">
      <h5 class="sub-title">お気に入りのジャンルに一致するアーティスト</h5>
      <% if customer_signed_in? %>
      <div class="table-responsive">
        <table>
          <tbody style="height: 400px; width: auto;">
            <!--全てのジャンルから自分のお気に入りジャンルを取得-->
            <% ArtistGenre.where(genre_id: current_customer.genres.ids).select(:artist_id).distinct.each do |artist_genre| %>
              <tr class="d-flex align-items-center">
                <td style="width: 30%" class="align-middle text-center"><%= image_tag artist_genre.artist.get_artist_image(50,50) %></td>
                <td style="width: 50%" class="align-middle text-left"><%= link_to artist_genre.artist.name, artist_path(artist_genre.artist) %></td>
                <td style="width: 20%" class="align-middle text-center" id="favorite_artists_<%= artist_genre.artist.id %>">
                  <%= render "public/favorite_artists/btn", artist: artist_genre.artist %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      <% else %>
        <div class="text-center my-5">
          会員登録することで、ご利用になれます
        </div>
      <% end %>
    </div>
  </div>
</div>