<div class="container">
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <h2><%= @live_house.name %></h2>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 text-center"><%= image_tag @live_house.get_house_image(500,500) %></div>
    <div class="col-6">
      
      <div class="map">
        <div id="map">
        </div>
      </div>
      <div type="text/javascript">
        <script>
          function initMap(){
          // The location of Uluru
            const uluru = {lat: <%= @live_house.latitude %>, lng: <%= @live_house.longitude %> };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 15,
              center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
              position: uluru,
              map: map,
            });
          }            
          window.initMap = initMap;        
        </script>
        <script async
          src="https://maps.googleapis.com/maps/api/js?v=3.46
              &key=<%= ENV['GOOGLE_API'] %>&callback=initMap">
        </script>
      </div>  
      
      <table cellpadding="10">
            <tbody>
              <tr>
                <td>紹介文</td>
                <td><%= @live_house.introduction %></td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= @live_house.postal_code %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= @live_house.address %></td>
              </tr>
              <tr>
                <td>Official Site</td>
                <td><%= link_to @live_house.official_url, @live_house.official_url %></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>