<div class="container">
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <h2><%= @live_house.name %></h2>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 text-center"><%= image_tag @live_house.get_house_image(500,500) %></div>
    <div class="col-6">
      <table cellpadding="10">
        <tbody>
          <tr>
            <td>紹介文</td>
            <td><%= @live_house.introduction %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @live_house.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @live_house.address %></td>
          </tr>
          <tr>
            <td>Official Site</td>
            <td><%= link_to @live_house.official_url, @live_house.official_url %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>