<div class="container">
  <div class="row mt-3 justify-content-between">
    <h3 class="sub-title">アーティスト一覧</h3>
    <div class="my-auto">
      <%= render "public/searches/search", q: q %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 table-responsive">
      <% if artists.present? %>
        <table class="table shadow p-3 mb-5 bg-body rounded">
          <thead class="bg-light">
            <tr>
              <th style="width: 15%"></th>
              <th style="width: 35%" class="text-left"><%= sort_link(@q, :name, "アーティスト", { class: "text-dark border-bottom border-dark" }) %></th>
              <th style="width: 20%" class="text-center"><%= sort_link(@q, :id, "お気に入り(件)", { class: "text-dark border-bottom border-dark" }) %></th>
              <th style="width: 20%" class="text-center"><%= sort_link(@q, :id, "コメント(件)", { class: "text-dark border-bottom border-dark" }) %></th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <% artists.each do |artist| %>
              <tr>
                <td style="width: 15%" class="align-middle"><%= image_tag artist.get_artist_image(50,50) %></td>
                <td style="width: 35%" class="align-middle text-left"><%= link_to artist.name, artist_path(artist) %></td>
                <td style="width: 20%" class="align-middle text-center favorite_artists_count_<%= artist.id %>"><%= render "public/favorite_artists/count", artist: artist %></td>
                <td style="width: 20%" class="align-middle text-center"><%= artist.comments.count %></td>
                <td style="width: 10%" class="align-middle" id="favorite_artists_<%= artist.id %>">
                  <%= render "public/favorite_artists/btn", artist: artist %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate artists %>
      <% else %>
        <p class="text-center mt-5">お探しのワードは見つかりませんでした</p>
      <% end %> 
    </div>
  </div>
</div>