<div class="container">
  <div class="row mt-3">
    <h3><%= @artist.name %>の詳細</h3>
    <div>
      <% if customer_signed_in? %>
        <% if @artist.favorited_by?(current_customer) %>
          <%= link_to artist_favorite_artists_path(@artist), method: :delete do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <% end %>
        <% else %>
          <%= link_to artist_favorite_artists_path(@artist), method: :post do %>
            <i class="fas fa-heart" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% end %>  
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 text-center"><%= image_tag @artist.get_artist_image(500,500) %></div>
    <div class="col-6">
      <table cellpadding="10">
        <tbody>
          <tr>
            <td>アーティスト名</td>
            <td><%= @artist.name %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @artist.introduction %></td>
          </tr>
          <tr>
            <td>オフィシャルサイト</td>
            <td><%= @artist.official_url %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%#= @artist.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h4>このバンドの良い所!!</h4>
      <% if customer_signed_in? %>
        <%#= form_with model: @comment, url: "#", method: :post do |f| %>
          <%#= f.text_area :comment %>
          <%#= f.submit "投稿" %>
        <%# end %>
      <% else %>
        会員登録を行うとコメントできます!!
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <h4>コメント一覧</h4>
      <teble>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td style="width: 15%" class="align-middle"><%= image_tag comment.customer.get_profile_image(50,50) %></td>
            <td style="width: 70%" class="align-middle"><%= comment.comment %></td>
            <td style="width: 15%" class="align-middle">
              <% if customer_signed_in? %>
                <%= link_to "削除", "#", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </teble>
    </div>
  </div>
</div>