<div class="container artist-page">
  <%= render "admin/artists/show", artist: @artist %>
  <div class="row mt-3">
    <div class="col-lg-10 mx-auto">
      <h4 class="sub-title">このアーティストの良い所!!</h4>
    </div>
    <div class="col-lg-10 mx-auto">
      <% if customer_signed_in? %>
        <%= render "public/comments/form", comment: @comment, artist: @artist %>
      <% else %>
        <div class="text-center my-5">
          会員登録を行うとコメントできます!!
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-10 mx-auto">
      <h4 class="sub-title">コメント一覧</h4>
    </div>
    <div class="col-lg-10 mx-auto comments_area">
      <%= render "public/comments/index", artist: @artist %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-lg-10 mx-auto">
      <h4 class="sub-title">ライブ予定</h4>
    </div>
    <div class="col-lg-10 mx-auto table-responsive">
      <% if @artist.lives.where("live_date >= ?", Date.today).present? %>
        <table class="table shadow p-3 bg-body rounded">
          <tbody>
            <% @artist.lives.where("live_date >= ?", Date.today).where(status: 1).each do |live| %>
              <tr>
                <td style="width: 10%" class="align-middle text-center"><%= image_tag live.get_live_image(50,50) %></td>
                <td style="width: 30%" class="align-middle"><%= link_to live.name, live_path(live) %></td>
                <td style="width: 25%" class="align-middle">
                  <% live.live_schedules.each do |live_schedule| %>
                    <%= live_schedule.live_house.name %>
                  <% end %>
                </td>
                <td style="width: 15%" class="align-middle">
                  <%= live.live_date %>
                </td>
                <td style="width: 15%" class="align-middle">
                  START: 
                  <% if live.start_time.present? %>
                    <%= live.start_time.strftime( "%H:%M" ) %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td style="width: 5%" class="align-middle">
                  <% if customer_signed_in? %>
                    <div id="bookmark_lives_<%= live.id %>">
                      <%= render "public/bookmark_lives/btn", live: live %>
                    </div>
                  <% end %>  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="my-5 text-center">
          現在、ライブの予定はありません</br>
          ライブ日程の追加がある場合は、<%= link_to "ここ", new_live_path %>をクリックしてください
        </p>
      <% end %>
    </div>
  </div>
</div>