<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto d-flex justify-content-between">
      <h2><%= @artist.name %></h2>
      <div>
        <% if customer_signed_in? %>
          <% if @artist.favorited_by?(current_customer) %>
            <%= link_to artist_favorite_artists_path(@artist), method: :delete do %>
              <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: red;"></i>
            <% end %>
          <% else %>
            <%= link_to artist_favorite_artists_path(@artist), method: :post do %>
              <i class="fas fa-heart fa-lg" aria-hidden="true"></i>
            <% end %>
          <% end %>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 text-center"><%= image_tag @artist.get_artist_image(500,500) %></div>
    <div class="col-6">
      <table cellpadding="10">
        <tbody>
          <tr>
            <td>アーティスト名</td>
            <td><%= @artist.name %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @artist.introduction %></td>
          </tr>
          <tr>
            <td>オフィシャルサイト</td>
            <td><%= link_to @artist.official_url, @artist.official_url %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td>
              <% @artist.artist_genres.each do |artist_genre| %>
                <% if artist_genre.genre.favorited_by?(current_customer) %>
                  <%= link_to artist_genre.genre.name, genre_favorite_genres_path(artist_genre.genre), method: :delete, class: "btn btn-warning", data: {confirm: "登録を解除しますか？"} %>
                <% else %>
                  <%= link_to artist_genre.genre.name, genre_favorite_genres_path(artist_genre.genre), method: :post, class: "btn btn-warning", data: {confirm: "登録しますか？"} %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10 mx-auto">
      <h4>このバンドの良い所!!</h4>
    </div>  
    <div class="col-10 mx-auto">
      <% if customer_signed_in? %>
        <%= form_with model: @comment, url: artist_comments_path(@artist), method: :post do |f| %>
          <%= f.text_area :comment, class: "col-12" %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <div class="text-right">
            <%= f.submit "投稿" %>
          </div>
        <% end %>
      <% else %>
        会員登録を行うとコメントできます!!
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-10 mx-auto">
      <h4>コメント一覧</h4>
    </div>  
    <div class="col-10 mx-auto">
      <table class="w-100">
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td style="width: 10%" class="align-middle"><%= image_tag comment.customer.get_profile_image(50,50) %></td>
            <td style="width: 15%" class="align-middle"><%= comment.customer.nickname %>さん</td>
            <td style="width: 70%" class="align-middle"><%= comment.comment %></td>
            <td style="width: 5%" class="align-middle">
              <% if customer_signed_in? %>
                <%= link_to artist_comment_path(comment.artist,comment), method: :delete, data: {confirm: "削除しますか？"} do %>
                  <i class="fa fa-solid fa-trash text-danger"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>