<%= render "public/shared/error_messages", resource: report %>
<div class="row">
  <div class="col-lg-6 mt-2">
    <%= f.file_field :report_image, class: "push", onchange: "loadImage(this);" %>
    <div id="post_images" style="display: none;">
      <p id="preview"></p>
    </div>
    <% if report.report_image.present? %>
      <div id="delete_image">
        <%= image_tag @report.get_report_image(500,500), class: "img-fluid" %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-6 mt-1">
    <table cellpadding="10" class="w-100">
      <tbody>
        <tr>
          <td class="d-flex align-items-start"><div class="mini-title">REPORT</div><span class="text-danger">*</span></td>
          <td><%= f.text_area :comment, rows: "10", class: "form-control" %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <%= f.hidden_field :live_id, :value => params[:live_id] %>
      <%= f.submit class: "btn default-btn bg-success p-2 mt-2" %>
    </div>  
  </div>
</div>
<%= render "public/artists/loadimage" %>