<div class="row mt-5 justify-content-between">
  <h1 class="main-title"><%= report.live.name %></h1>
  <%= link_to customers_my_report_path(report.customer, customer_id: report.customer.id), class: "btn customer_btn watch-btn p-1" do %>
    <%= image_tag report.customer.get_profile_image(50,50) %>
    <h4 class="ml-1 my-auto"><%= report.customer.nickname %>'s REPORT</h4>
  <% end %>
</div>
<div class="row mt-1">
  <div class="col-lg-6 text-center my-auto"><%= image_tag report.get_report_image(500,500), class: "img-fluid" %></div>
  <div class="col-lg-6">
    <table cellpadding="10">
      <tbody>
        <tr>
          <td class="d-flex align-items-start"><div class="mini-title">REPORT</div></td>
          <td class="text-break"><%= safe_join(report.comment.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td><div class="mini-title">DATE</div></td>
          <td><%= report.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center my-2">
      <% if current_customer == report.customer %>
        <%= link_to "編集", edit_report_path(report, live_id: report.live.id), class: "btn default-btn bg-success p-2 mt-2" %>
        <%= link_to "削除", report_path(report), method: :delete, class: "btn default-btn bg-danger p-2 mt-2", data: {confirm: "削除しますか？"} %>
      <% elsif admin_signed_in? %>
        <%= link_to "削除", admin_report_path(report), method: :delete, class: "btn default-btn bg-danger p-2 mt-2", data: {confirm: "削除しますか？"} %>
      <% end %>
    </div>
  </div>
</div>  