<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h3>レポート投稿</h3>
    </div>
  </div>
  <%= form_with model: @report, url: report_path(@report), method: :patch do |f| %>
    <div class="row">
      <div class="col-6">
        <%= image_tag @report.get_report_image(500,500) %>
        <%= f.file_field :report_image %>
      </div>
      <div class="col-6">
        <table cellpadding="10">
          <tbody>
            <tr>
              <td>行ったライブ</td>
              <td>
                <%= f.hidden_field :live_id, value: params[:id] %>
                <%= @report.live.name %>
              </td>
            </tr>
            <tr>
              <td>レポート</td>
              <td><%= f.text_area :comment %></td>
            </tr>
            <tr>
              <td><%= f.submit "変更を更新", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>