<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h3 class="sub-title">ライブレポート一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table shadow p-3 mb-5 bg-body rounded">
        <thead class="bg-light">
          <tr>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
            <th style="width: 20%">ライブ</th>
            <th style="width: 50%">コメント</th>
            <th style="width: 20%">投稿日</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td style="width: 10%" class="align-middle"><%= image_tag report.customer.get_profile_image(50,50) %></td>
              <td style="width: 10%" class="align-middle"><%= report.customer.nickname %></td>
              <td style="width: 20%" class="align-middle"><%= link_to report.live.name, report_path(report) %></td>
              <td style="width: 50%" class="align-middle text-left"><%= report.comment.truncate(35, separator: '.') %></td>
              <td style="width: 20%" class="align-middle"><%= report.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @reports %>
    </div>
  </div>
</div>