<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row mt-5">
    <h1 class="main-title"><%= @live.name %></h1>
  </div>
  <%= form_with model: @report, url: reports_path(live_id: @live.id), method: :post do |f| %>
    <div class="row">
      <div class="col-lg-6 mt-2">
        <%= f.file_field :report_image, class: "push", multiple: true, onchange: "loadImage(this);" %>
        <div id="post_images" style="display: none;">
          <p id="preview"></p>
        </div>
      </div>
      <div class="col-lg-6 mt-1">
        <table cellpadding="10" class="w-100">
          <tbody>
            <tr>
              <td class="mini-title">REPORT</td>
              <td><%= f.text_area :comment, rows: "10", class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.hidden_field :live_id, :value => @live.id %>
          <%= f.submit "投稿", class: "btn default-btn bg-success p-2 mt-2" %>
        </div>  
      </div>
    </div>
  <% end %>
</div>
<%= render "public/artists/loadimage" %>