<div class="container">
  <div class="row mt-3">
    <h3><%= @report.customer.name %>のレポート</h3>
  </div>
  <div class="row mt-5">
    <div class="col-6 text-center"><%= image_tag @report.get_report_image(500,500) %></div>
    <div class="col-6">
      <table cellpadding="10">
        <tbody>
          <tr>
            <td>行ったライブ</td>
            <td><%= @report.live.name %></td>
          </tr>
          <tr>
            <td>レポート</td>
            <td><%= @report.comment %></td>
          </tr>
          <tr>
            <td>投降日</td>
            <td><%= @report.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", edit_report_path(@report), class: "btn btn-success" %>
    </div>
  </div>
</div>