<span class="nav_toggle">
  <i></i>
  <i></i>
  <i></i>
</span>
<!-- クリックで表示されるメニュー -->
<nav class="nav">
  <% if customer_signed_in? %>
    <!--会員ログイン後-->
    <ul class="nav_menu_ul">
      <li class="nav_menu_li top-menu-li">
        <%= link_to "マイページ", customer_path(current_customer) %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "アーティスト", artists_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブ", lives_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブハウス", live_houses_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブレポート", reports_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ジャンル", genres_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "追加依頼", customers_request_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "お問合せ", new_contact_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    </ul>
  <% elsif admin_signed_in? %>
    <!--管理者ログイン後-->
    <ul class="nav_menu_ul">
      <li class="nav_menu_li">
        <%= link_to "会員", admin_customers_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "アーティスト", admin_artists_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブ", admin_lives_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブハウス", admin_live_houses_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ジャンル", admin_genres_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "追加依頼", admin_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    </ul>
  <% else %>
    <!--ログインしていない場合-->
    <ul class="nav_menu_ul">
      <li class="nav_menu_li">
        <%= link_to "アーティスト", artists_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブ", lives_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブハウス", live_houses_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ライブレポート", reports_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ジャンル", genres_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to "ログイン", customer_session_path %>
      </li>
      <li class="nav_menu_li">
        <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post %>
      </li>
    </ul>
  <% end %>
</nav>