<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand col-1">
      <% if admin_signed_in? %>
        <!--管理者ログイン後-->
        <%= link_to image_tag("logo.png", alt: "ロゴ", :width => '120%', :height => 'auto'), admin_path %>
      <% else %>
        <!--それ以外-->
        <%= link_to image_tag("logo.png", alt: "ロゴ", :width => '120%', :height => 'auto'), root_path %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse default-navmenu" id="navbarNav">
      <div class="ml-auto">
        <% if customer_signed_in? %>
          <!--会員ログイン後-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "マイページ", customer_path(current_customer), class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "アーティスト", artists_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブ", lives_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブハウス", live_houses_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブレポート", reports_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル", genres_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "追加依頼", customers_request_path, class: "btn btn-outline-dark" %>
            </li>
            <li>
              <%= link_to "お問合せ", new_contact_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
            </li>
          </ul>
        <% elsif admin_signed_in? %>
          <!--管理者ログイン後-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "会員", admin_customers_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "アーティスト", admin_artists_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブ", admin_lives_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブハウス", admin_live_houses_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル", admin_genres_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "追加依頼", admin_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
            </li>
          </ul>
        <% else %>
          <!--ログインしていない場合-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "アーティスト", artists_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブ", lives_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブハウス", live_houses_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライブレポート", reports_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル", genres_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", customer_session_path, class: "btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class: "btn btn-dark" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <%= render "layouts/hamburger_menu" %>
  </div>
</nav>