<% if customer_signed_in? %>
  <!--Customer側-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "LiveMe", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "マイページ", customer_path(current_customer) %>
          </li>
          <li class="nav-item">
            <%= link_to "アーティスト一覧", artists_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブ一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブハウス一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブレポート一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "追加依頼フォーム", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% elsif admin_signed_in? %>
  <!--Admin側-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "LiveMe", admin_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li class="nav-item">
            <%= link_to "アーティスト一覧", admin_artists_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブ一覧", admin_lives_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブハウス一覧", admin_live_houses_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li class="nav-item">
            <%= link_to "追加依頼一覧", admin_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "LiveMe", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "アーティスト一覧", artists_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブ一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブハウス一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "ライブレポート一覧", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", customer_session_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>